<div class="row">
  <div class="col-md-3">
    <app-examiner-tasklist [type]="'exercise'"></app-examiner-tasklist>
  </div>
  <div style="margin-right: 100px" class="col-md">
    <form *ngIf="created" [formGroup]="form">
      <div class="form-row">
        <div class="col form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <label>Kategorie</label>
          <input type="text" class="form-control" formControlName="category">
        </div>
      </div>
    </form>
    <hr>
    <div>
      <app-create-tasks (emitTask)="saveTask($event)" (deleteTask)="deleteTask($event)"></app-create-tasks>
    </div>
    <hr>
    <button (click)="upload()" type="button" class="btn btn-secondary">Übung hochladen</button>
  </div>
</div>



