<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Termersetzungssystem</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exam">Klausur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exercise">Übungen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Hochladen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Hilfe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pdf">PDF generieren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/examiner">Übersicht für Prüfende</a>
      </li>
    </ul>
  </div>
</nav>
