<div class="container">
  <div class="row">
    <div class="col-sm" style="text-align: center;">
      <h5>Klausuren</h5>
    </div>
    <div class="col-sm" style="text-align: center;">
      <h5>Übungen</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
        <li (click)="goToExam(exam.id)" *ngFor="let exam of exams" class="list-group-item">
          {{exam.name}}</li>
      </ul>
    </div>
    <div class="col-sm">
      <ul class="list-group">
        <li (click)="goToExercise(exercise.id)" *ngFor="let exercise of exercises" class="list-group-item">
          {{exercise.name}}</li>
      </ul>
    </div>
  </div>
</div>
