<ul class="list-group">
  <li (click)="goToExam(exam.id)" *ngFor="let exam of exams"
      class="list-group-item">{{exam.name + ', ' + exam.examiner.firstname + ' ' + exam.examiner.lastname}}</li>
</ul>

<form *ngIf="exam !== undefined" [formGroup]="form">
  <div class="form-row">
    <div class="col form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <ng-container formGroupName="examiner">
      <div class="col form-group">
        <label>Vorname des Prüfers/der Prüferin</label>
        <input type="text" class="form-control" formControlName="firstname">
      </div>
      <div class="col form-group">
        <label>Nachname des Prüfers/der Prüferin</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
    </ng-container>
  </div>
  <div class="form-row">
    <div class="col form-group">
      <label>Code</label>
      <input type="text" class="form-control" formControlName="code">
    </div>
    <div class="col form-group">
      <label>Startdatum</label>
      <input type="text" class="form-control" formControlName="startDate">
    </div>
    <div class="col form-group">
      <label>Enddatum</label>
      <input type="text" class="form-control" formControlName="endDate">
    </div>
  </div>
  <button (click)="saveExam()">Speichern</button>

</form>
