<div (keyup.enter)="getExam()" *ngIf="exam === undefined" class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Klausurencode</h5>
      <p>Geben Sie hier den Code für die Klausur ein</p>
      <input [(ngModel)]="code" type="text" class="form-control" placeholder="Code" aria-label="Code">
      <br>
      <app-error [error]="error"></app-error>
      <button (click)="getExam()" type="button" class="btn btn-light">Enter</button>
    </div>
  </div>
</div>
<div *ngIf="exam !== undefined" class="row">
  <div class="col-md-3">
    <app-exam-list [taskList]="exam.tasks">

    </app-exam-list>
  </div>
  <div *ngIf="taskObject !== undefined" class="col-md-9">
    <div class="form-row">
      <div *ngIf="taskObject.steps[0].step !== ''" class="btn-group col-md-7" role="group">
        <button (click)="setSymbol('\\div')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\div'">\( {{ '{\\div}' }} \)</div>
        </button>
        <button (click)="setSymbol('\\cdot')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\cdot'">\( {{ '{\\cdot}' }} \)</div>
        </button>
        <button (click)="setSymbol('x^n')" type="button" class="btn btn-secondary">
          <div [mathjax]="'x^n'">\( {{ '{x^n}' }} \)</div>
        </button>
        <button (click)="setSymbol('\\sqrt x')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\sqrt x'">\( {{ '\\sqrt x' }} \)</div>
        </button>
        <button (click)="setSymbol('\\sin(x)')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\sin(x)'">\( {{ '\\sin(x)' }} \)</div>
        </button>
        <button (click)="setSymbol('\\cos(x)')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\cos(x)'">\( {{ '\\cos(x)' }} \)</div>
        </button>
        <button (click)="setSymbol('\\vert  \\vert')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\vert \\vert'">\( {{ '\\vert \\vert' }} \)</div>
        </button>
        <button (click)="setSymbol('\\int')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\int'">\( {{ '\\int' }} \)</div>
        </button>
        <button (click)="setSymbol('\\sum')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\sum'">\( {{ '\\sum' }} \)</div>
        </button>
        <button (click)="setSymbol('\\coprod')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\coprod'">\( {{ '\\coprod' }} \)</div>
        </button>
        <button (click)="setSymbol('\\cup')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\cup'">\( {{ '\\cup' }} \)</div>
        </button>
        <button (click)="setSymbol('\\cap')" type="button" class="btn btn-secondary">
          <div [mathjax]="'\\cap'">\( {{ '\\cap' }} \)</div>
        </button>
        <button (click)="setSymbol('f^\\prime')" type="button" class="btn btn-secondary">
          <div [mathjax]="'F^\\prime'">\( {{ 'F^\\prime' }} \)</div>
        </button>
        <button (click)="setSymbol('(f^\\prime)^\\prime')" type="button" class="btn btn-secondary">
          <div [mathjax]="'(f^\\prime)^\\prime'">\( {{ '(f^\\prime)^\\prime' }} \)</div>
        </button>
      </div>
      <div class="col-md-5">
        <textarea class="form-control" rows="4" placeholder="Hier können Sie Notizen machen"></textarea>
      </div>
    </div>
    <div style="margin-top: 1rem" class="row">
      <div class="col">
        <div *ngIf="taskObject.description !== undefined">{{'Beschreibung: ' + taskObject.description}}</div>
      </div>
    </div>
    <hr style="margin-bottom: 1rem;" *ngIf="taskObject.description !== undefined">

    <ng-container *ngFor="let step of steps; let i = index;">
      <div class="form-group row" style="margin-bottom: 5px;">
        <div *ngIf="taskObject.steps[0].step !== undefined" class="col col-form-label" [mathjax]="step">\(
          {{ '{' + step + '}' }} \)</div>
        <div class="col">
          <input placeholder="Umformung" (focus)="onFocus($event)" *ngIf="taskObject.steps[0].step !== undefined"
            type="text" class="form-control" [(ngModel)]="operations[i]" />
        </div>
        <button (click)="editStep(i)" *ngIf="i !== 0" type="button" class="btn btn-light">Edit</button>
      </div>
      <div *ngIf="editStepBool[i]" class="form-group row">
        <input placeholder="Term bearbeiten" (focus)="onFocus($event)" [(ngModel)]="step" type="text"
          class="form-control col">
      </div>
    </ng-container>
    <div class="form-group row">
      <div class="col">
        <input placeholder="neuer Term" (focus)="onFocus($event)" [(ngModel)]="newTerm" type="text"
          class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <div *ngIf="newTerm !==''" class="col" [mathjax]="newTerm">\( {{ '{' + newTerm + '}' }} \)</div>
    </div>
    <div class="form-group row">
      <button type="button" class="btn btn-light" style="margin-right: 5px;" (click)="nextStep()">nächster Schritt
      </button>
      <button type="button" class="btn btn-light" (click)="finished()">Fertig</button>
    </div>
    <div class="form-group row">
      <form [formGroup]="form">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" checked formControlName="taskState" value="nicht gelesen">noch
            nicht gelesen
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="in Arbeit">in Arbeit
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState"
              value="zurückgestellt">zurückgestellt
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="Fertig">Fertig
          </label>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>