<div class="row">
  <div class="col-md-2">
    <app-upload-list></app-upload-list>
  </div>
  <div style="margin-right: 150px;" class="col-md">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="col form-group">
          <label>Übung oder Klausur</label>
          <select class="custom-select mr-sm-2" formControlName="isExam">
            <option value="false">Übung</option>
            <option value="true">Klausur</option>
          </select>
        </div>
        <div class="col form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
          <small class="form-text text-muted">Name der Klausur/Übung</small>
        </div>
      </div>
      <div *ngIf="form.controls.isExam.value === 'true'" class="form-row">
        <div class="col form-group">
          <label>Startdatum</label>
          <input class="form-control" formControlName="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
          <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="col form-group">
          <label>Enddatum</label>
          <input class="form-control" formControlName="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2">
          <owl-date-time #dt2></owl-date-time>
        </div>
      </div>
      <div *ngIf="form.controls.isExam.value === 'false'" class="form-row">
        <div class="col form-group">
          <label>Kategorie</label>
          <input type="text" class="form-control" formControlName="category">
          <small class="form-text text-muted">Kategorie der Übung</small>
        </div>
      </div>
      <div>
        <app-error [error]="errorMessage"></app-error>
      </div>
    </form>
    <hr>
    <div>
      <app-create-tasks (deselectTask)="deselectActiveTask($event)" (emitTask)="saveTask($event)"
        (deleteTask)="deleteTask($event)"></app-create-tasks>
    </div>
    <hr>
    <button (click)="upload()" type="button" class="btn btn-secondary">Klausur/Übung hochladen</button>
  </div>
</div>