<div class="row">
  <div class="col-md-3">
    <app-examiner-tasklist [type]="'exam'"></app-examiner-tasklist>
  </div>
  <div style="margin-right: 100px" class="col-md">
    <form *ngIf="created" [formGroup]="form">
      <div class="form-row">
        <div class="col form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col form-group">
          <label>Code</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button (click)="changePasswordState()" class="input-group-text"><em *ngIf="showPassword"
                  class="fa fa-eye"></em>
                <em *ngIf="!showPassword" class="fa fa-eye-slash"></em>
              </button>
            </div>
            <input *ngIf="showPassword" type="text" class="form-control" formControlName="code">
            <input *ngIf="!showPassword" type="password" class="form-control" formControlName="code">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <label>Startdatum</label>
          <input class="form-control" formControlName="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
          <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="col form-group">
          <label>Enddatum</label>
          <input class="form-control" formControlName="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2">
          <owl-date-time #dt2></owl-date-time>
        </div>
      </div>
    </form>
    <hr>
    <div>
      <app-create-tasks (deselectTask)="deselectActiveTask($event)" (deleteTask)="deleteTask($event)" (emitTask)="saveTask($event)"></app-create-tasks>
    </div>
    <hr>
    <button (click)="upload()" type="button" class="btn btn-dark">Klausur hochladen</button>
  </div>
</div>