<form [formGroup]="taskForm">

  <app-error [error]="error"></app-error>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
    <small id="nameHelp" class="form-text text-muted">Name der Aufgabe</small>
  </div>

  <div class="form-group">
    <label>Punkte</label>
    <input type="number" class="form-control" formControlName="score">
    <small id="scoreHelp" class="form-text text-muted">Anzahl der Punkte für diese Aufgabe</small>
  </div>

  <div class="form-group">
    <label>Schritte</label>
    <div>
      <button style="margin-right: 1rem" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#stepsModal">Schritte
        hinzufügen
      </button>
    </div>
    <div formArrayName="steps" class="modal fade" id="stepsModal" tabindex="-1" role="dialog"
         aria-labelledby="stepsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="stepsModalLabel">Zwischenschritte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngFor="let step of steps.controls; let i=index">
            <ng-container [formGroupName]="i">
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Term</label>
                  <input (focus)="onFocus($event)" class="form-control" formControlName="step" type="text">
                  <app-mathjax *ngIf="checkValue(step.get('step').value)"
                               [content]="'$' + step.get('step').value + '$'"></app-mathjax>
                </div>
                <div class="form-group col-md-3">
                  <label>Umformung</label>
                  <input (focus)="onFocus($event)" class="form-control" formControlName="conversion" type="text">
                </div>
                <div class="form-group col-md-1">
                  <label>Punkte</label>
                  <input class="form-control" formControlName="score" type="text">
                </div>
              </div>
              <button *ngIf="steps.length > 1" type="button" class="btn btn-secondary btn-sm"
                      (click)="removeStep(i)">Schritt löschen
              </button>
            </ng-container>
          </div>
          <button type="button" class="btn btn-secondary" (click)="addStep()">Schritt
            hinzufügen
          </button>
          <br>
          <div class="btn-group" role="group">
            <button (click)="setSymbol('\\div')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\div$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\cdot')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\cdot$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('x^n')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$x^n$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\sqrt x')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\sqrt x$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\sin(x)')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\sin(x)$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\cos(x)')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\cos(x)$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\vert  \\vert')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$ \\vert \\vert $$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\int')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$ \\int$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\sum')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\sum$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\coprod')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\coprod$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\cup')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\cup$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('\\cap')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$\\cap$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('f^\\prime')" type="button" class="btn btn-secondary">
              <app-mathjax [content]="'$$F^\\prime$$'"></app-mathjax>
            </button>
            <button (click)="setSymbol('(f^\\prime)^\\prime')" type="button"
                    class="btn btn-secondary">
              <app-mathjax [content]="'$$(f^\\prime)^\\prime$$'"></app-mathjax>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" rows="4" formControlName="description"></textarea>
  </div>
  <button style="margin-right: 5px;" (click)="saveTask()" type="button" class="btn btn-secondary">Aufgabe
    speichern
  </button>
  <button style="margin-right: 5px;" *ngIf="taskIsRemovable" (click)="removeTask()" type="button" class="btn btn-secondary">Aufgabe
    löschen
  </button>
  <button (click)="refreshForm()" type="button" class="btn btn-secondary">Formular leeren
  </button>
</form>
