<div class="row">
  <div class="col-md-3">
    <app-exercise-list *ngIf="exercise" [taskList]="exercise.tasks">

    </app-exercise-list>
  </div>
  <div *ngIf="taskObject !== undefined" class="col-md-9">
    <div class="row">
      <div *ngIf="taskObject.steps[0].step !== ''" class="btn-group col-md-6" role="group">
        <button (click)="setSymbol('\\div')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\div$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\cdot')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\cdot$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('( )')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$( )$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('x^n')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$x^n$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\sqrt x')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\sqrt x$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\sin(x)')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\sin(x)$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\cos(x)')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\cos(x)$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\vert  \\vert')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$ \\vert \\vert $$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('!')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$!$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\int')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$ \\int$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\sum')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\sum$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\coprod')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\coprod$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\cup')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\cup$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('\\cap')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$\\cap$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('f^\\prime')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$F^\\prime$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('(f^\\prime)^\\prime')" type="button"
                class="btn btn-secondary">
          <app-mathjax [content]="'$$(f^\\prime)^\\prime$$'"></app-mathjax>
        </button>
        <button (click)="setSymbol('det')" type="button" class="btn btn-secondary">
          <app-mathjax [content]="'$$det$$'"></app-mathjax>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div *ngIf="taskObject.description !== undefined">{{taskObject.description}}</div>
      </div>
    </div>
    <hr *ngIf="taskObject.description !== undefined">

    <ng-container *ngFor="let step of steps; let i = index;">
      <div class="form-group row" style="margin-bottom: 5px;">
        <app-mathjax *ngIf="taskObject.steps[0].step !== undefined" class="col-sm-2 col-form-label" [content]="step">
        </app-mathjax>
        <div class="col-sm-2">
          <input placeholder="Umformung" (focus)="onFocus($event)" *ngIf="taskObject.steps[0].step !== undefined"
                 type="text" class="form-control" [(ngModel)]="operations[i]"/>
        </div>
        <button (click)="editStep(i)" *ngIf="i !== 0" type="button" class="btn btn-light">Edit</button>
      </div>
      <div *ngIf="editStepBool[i]" class="form-group row">
        <input placeholder="Term bearbeiten" (focus)="onFocus($event)" [(ngModel)]="step" type="text"
               class="form-control col-sm-2">
      </div>
    </ng-container>
    <div class="form-group row">
      <input placeholder="neuer Term" (focus)="onFocus($event)" [(ngModel)]="newTerm" type="text"
             class="form-control col-sm-2">
    </div>
    <div class="form-group row">
      <app-mathjax *ngIf="newTerm !==''" class="col-2" [content]="'$' + newTerm + '$'"></app-mathjax>
    </div>
    <div class="form-group row">
      <button type="button" class="btn btn-light" style="margin-right: 5px;" (click)="check()">Umformungen prüfen
      </button>
      <button type="button" class="btn btn-light" style="margin-right: 5px;" (click)="nextStep()">nächster Schritt
      </button>
      <button type="button" class="btn btn-light" (click)="finished()">Fertig</button>
    </div>
    <div class="form-group row">
      <form [formGroup]="form">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" checked formControlName="taskState" value="nicht gelesen">noch
            nicht gelesen
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="in Arbeit">in Arbeit
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState"
                   value="zurückgestellt">zurückgestellt
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="Fertig">Fertig
          </label>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>
