<div class="row">
  <div class="col-md-3">
    <app-exercise-list *ngIf="exercise" [taskList]="exercise.tasks">

    </app-exercise-list>
  </div>
  <div class="col-md-9">
    <div *ngFor="let step of steps; let i = index;" class="row">
      <app-mathjax *ngIf="taskObject.startTerm != undefined" class="col-2" [content]="step"></app-mathjax>
      <input (focus)="onFocus($event)" *ngIf="taskObject.startTerm != undefined" type="text" class="form-control"
        [(ngModel)]="operations[i]" class="col-1" />
    </div>
    <input (focus)="onFocus($event)" [(ngModel)]="newTerm" type="text">
    <app-mathjax *ngIf="newTerm !==''" class="col-2" [content]="'$' + newTerm + '$'"></app-mathjax>
    <br>
    <br>
    <button type="button" class="btn btn-light" style="margin-right: 5px;" (click)="check()">Umformung prüfen</button>
    <button type="button" class="btn btn-light" (click)="finished()">Fertig</button>
    <br>
    <br>
    <div *ngIf="taskObject.startTerm !== ''" class="btn-group" role="group">
      <button (click)="setSymbol('\\div')" type="button" class="btn btn-secondary">$$\div$$</button>
      <button (click)="setSymbol('\\cdot')" type="button" class="btn btn-secondary">$$\cdot$$</button>
      <button (click)="setSymbol('( )')" type="button" class="btn btn-secondary">$$( )$$</button>
      <button (click)="setSymbol('x^n')" type="button" class="btn btn-secondary">$$x^n$$</button>
      <button (click)="setSymbol('\\sqrt x')" type="button" class="btn btn-secondary">$$\sqrt x$$</button>
      <button (click)="setSymbol('\\sin(x)')" type="button" class="btn btn-secondary">$$\sin(x)$$</button>
      <button (click)="setSymbol('\\cos(x)')" type="button" class="btn btn-secondary">$$\cos(x)$$</button>
      <button (click)="setSymbol('\\vert  \\vert')" type="button" class="btn btn-secondary">$$ \vert \vert $$</button>
      <button (click)="setSymbol('!')" type="button" class="btn btn-secondary">$$!$$</button>
      <button (click)="setSymbol('\\int')" type="button" class="btn btn-secondary">$$ \int$$</button>
      <button (click)="setSymbol('\\sum')" type="button" class="btn btn-secondary">$$\sum$$</button>
      <button (click)="setSymbol('\\coprod')" type="button" class="btn btn-secondary">$$\coprod$$</button>
      <button (click)="setSymbol('\\cup')" type="button" class="btn btn-secondary">$$\cup$$</button>
      <button (click)="setSymbol('\\cap')" type="button" class="btn btn-secondary">$$\cap$$</button>
      <button (click)="setSymbol('f^\\prime')" type="button" class="btn btn-secondary">$$F^\prime$$</button>
      <button (click)="setSymbol('(f^\\prime)^\\prime')" type="button"
        class="btn btn-secondary">$$(f^\prime)^\prime$$</button>
      <button (click)="setSymbol('det')" type="button" class="btn btn-secondary">$$det$$</button>
    </div>
    <br>
    <br>
    <div>
      <form [formGroup]="form">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" checked formControlName="taskState"
              value="nicht gelesen">noch nicht gelesen
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="in Arbeit">in Arbeit
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="kann ich nicht">das
            kann ich nicht
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" formControlName="taskState" value="Fertig">Fertig
          </label>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>